<a href="https://colab.research.google.com/github/ertgrulyksk/World-Cup-2022-Knockout-Stage-Matches-Past-Data/blob/main/World_Cup_2022_Knockout_Stage_Matches_Past_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv('international_matches.csv')
display(data[0:3])
print(len(data))
print(data.columns.tolist())

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

23921
['date', 'home_team', 'away_team', 'home_team_continent', 'away_team_continent', 'home_team_fifa_rank', 'away_team_fifa_rank', 'home_team_total_fifa_points', 'away_team_total_fifa_points', 'home_team_score', 'away_team_score', 'tournament', 'city', 'country', 'neutral_location', 'shoot_out', 'home_team_result', 'home_team_goalkeeper_score', 'away_team_goalkeeper_score', 'home_team_mean_defense_score', 'home_team_mean_offense_score', 'home_team_mean_midfield_score', 'away_team_mean_defense_score', 'away_team_mean_offense_score', 'away_team_mean_midfield_score']

In [7]:
teams=['Netherlands','USA','Argentina','Australia','France','Poland','England','Senegal','Japan','Croatia','Brazil','South Korea','Morocco','Spain','Portugal','Switzerland']
teams16=[['Netherlands','USA'],['Argentina','Australia'],['France','Poland'],['England','Senegal'],['Japan','Croatia'],['Brazil','South Korea'],['Morocco','Spain'],['Portugal','Switzerland']]
teams8=[['Netherlands','Argentina'],['France','England'],['Croatia','Brazil'],['Morocco','Portugal']]
teams4=[['Argentina','Croatia'],['France','Morocco']]
teams2=[['Argentina','France'],['Croatia','Morocco']]

In [8]:
selects=[]
for i in range(len(data)):
    if data.loc[i,'home_team'] in teams and data.loc[i,'away_team'] in teams:
        selects+=[i]
print(selects)

[35, 84, 86, 117, 129, 136, 180, 182, 214, 250, 257, 288, 330, 340, 347, 361, 389, 419, 424, 428, 436, 490, 523, 617, 678, 687, 712, 725, 732, 880, 898, 920, 949, 971, 984, 989, 1021, 1028, 1072, 1130, 1142, 1214, 1260, 1304, 1309, 1317, 1331, 1394, 1522, 1547, 1557, 1576, 1580, 1592, 1593, 1703, 1826, 1968, 2041, 2116, 2117, 2339, 2350, 2365, 2387, 2399, 2523, 2541, 2672, 2784, 2798, 2834, 2885, 2896, 2911, 2958, 2985, 2987, 2999, 3037, 3044, 3072, 3089, 3094, 3103, 3123, 3137, 3143, 3147, 3148, 3152, 3153, 3239, 3400, 3452, 3489, 3497, 3575, 3597, 3603, 3649, 3660, 3701, 3734, 3759, 3761, 3824, 3852, 3897, 3912, 3934, 3952, 3988, 4040, 4049, 4060, 4062, 4105, 4148, 4263, 4264, 4266, 4560, 4566, 4609, 4613, 4619, 4648, 4684, 4701, 4704, 4783, 4859, 4986, 5072, 5231, 5254, 5268, 5272, 5323, 5374, 5378, 5461, 5476, 5579, 5627, 5652, 5653, 5657, 5660, 5727, 5797, 5804, 5856, 5907, 5990, 6181, 6185, 6237, 6238, 6277, 6324, 6341, 6357, 6362, 6374, 6391, 6400, 6522, 6661, 6787, 6798, 6802, 6814, 6815, 6931, 7012, 7089, 7131, 7133, 7219, 7246, 7261, 7294, 7320, 7722, 7723, 7727, 7811, 7815, 7864, 7907, 7960, 7966, 8049, 8052, 8062, 8063, 8091, 8097, 8100, 8107, 8117, 8154, 8189, 8229, 8339, 8494, 8524, 8678, 8772, 8860, 8921, 8966, 8989, 8993, 9050, 9210, 9231, 9268, 9275, 9431, 9472, 9497, 9576, 9632, 9645, 9651, 9661, 9664, 9665, 9679, 9681, 9691, 9693, 9696, 9707, 9713, 9718, 9719, 9723, 9847, 9993, 10012, 10018, 10070, 10075, 10194, 10204, 10205, 10374, 10411, 10537, 10588, 10601, 10665, 10725, 10749, 10751, 10754, 10881, 10915, 10977, 10987, 11129, 11134, 11156, 11220, 11238, 11338, 11413, 11466, 11484, 11533, 11538, 11548, 11755, 11793, 11988, 12176, 12182, 12199, 12443, 12450, 12465, 12474, 12539, 12577, 12604, 12636, 12678, 12797, 12828, 13017, 13035, 13126, 13153, 13164, 13168, 13181, 13192, 13216, 13226, 13229, 13238, 13242, 13327, 13357, 13384, 13390, 13445, 13481, 13578, 13590, 13613, 13770, 13780, 13792, 13890, 13918, 13992, 13995, 14008, 14024, 14054, 14227, 14408, 14411, 14565, 14578, 14600, 14818, 14852, 14860, 14918, 14959, 15056, 15086, 15089, 15124, 15127, 15137, 15143, 15179, 15350, 15392, 15448, 15466, 15472, 15549, 15749, 15908, 15965, 15978, 16033, 16039, 16069, 16109, 16160, 16211, 16217, 16296, 16327, 16385, 16423, 16506, 16663, 16696, 16845, 16864, 16867, 16881, 16890, 16898, 16899, 16923, 16932, 16934, 16992, 17047, 17125, 17132, 17183, 17231, 17316, 17320, 17503, 17581, 17589, 17643, 17906, 17966, 18194, 18213, 18249, 18435, 18484, 18542, 18595, 18598, 18745, 18750, 18756, 18766, 18769, 18780, 18787, 18903, 19000, 19004, 19064, 19139, 19350, 19399, 19454, 19512, 19519, 19678, 19682, 19899, 19934, 19983, 19994, 20158, 20201, 20243, 20329, 20330, 20362, 20363, 20378, 20388, 20389, 20395, 20400, 20402, 20407, 20415, 20419, 20429, 20433, 20447, 20449, 20485, 20508, 20514, 20535, 20568, 20576, 20603, 20622, 20678, 20724, 20743, 20751, 20759, 20807, 20833, 21066, 21120, 21127, 21183, 21184, 21326, 21619, 21840, 21993, 22002, 22029, 22050, 22052, 22076, 22081, 22097, 22145, 22174, 22201, 22204, 22234, 22254, 22463, 22484, 22537, 22663, 22707, 22728, 22743, 22744, 22750, 22778, 22987, 23101, 23122, 23306, 23492, 23543, 23665, 23674, 23732, 23753, 23760, 23811, 23854, 23867, 23885]

In [9]:
data2=data.iloc[selects].reset_index(drop=True)
data2=data2.iloc[:,[0,1,2,9,10,11]]
display(data2)
print(data2.columns.tolist())
col0=data2.columns.tolist()

,date,home_team,away_team,home_team_score,away_team_score,tournament
0,1993-09-08,England,Poland,3,0,FIFA World Cup qualification
1,1993-10-13,Netherlands,England,2,0,FIFA World Cup qualification
2,1993-10-13,Portugal,Switzerland,1,0,FIFA World Cup qualification
3,1993-10-31,Australia,Argentina,1,1,FIFA World Cup qualification
4,1993-11-17,Argentina,Australia,1,0,FIFA World Cup qualification
...,...,...,...,...,...,...
500,2022-06-06,Japan,Brazil,0,1,Friendly
501,2022-06-09,Switzerland,Spain,0,1,UEFA Nations League
502,2022-06-11,Netherlands,Poland,2,2,UEFA Nations League
503,2022-06-12,Switzerland,Portugal,1,0,UEFA Nations League
504,2022-06-13,France,Croatia,0,1,UEFA Nations League

['date', 'home_team', 'away_team', 'home_team_score', 'away_team_score', 'tournament']

In [11]:
# Final & Third-Place Playoff Past Match Results
for i in range(2):
    T=teams2[i]    
    print(T)
    datai=pd.DataFrame(columns=col0)
    for j in range(len(data2)):
        if set(data2.iloc[j,1:3])==set(T):
            datai=pd.concat([datai,data2.iloc[j:j+1]],axis=0)
    if len(datai)>0:
        datai=datai.sort_values('date',ascending=True)
    display(datai)
    print()

['Argentina', 'France']

,date,home_team,away_team,home_team_score,away_team_score,tournament
249,2007-02-07,France,Argentina,0,1,Friendly
279,2009-02-11,France,Argentina,0,2,Friendly
440,2018-06-30,France,Argentina,4,3,FIFA World Cup

['Croatia', 'Morocco']

,date,home_team,away_team,home_team_score,away_team_score,tournament
57,1996-12-11,Morocco,Croatia,2,2,King Hassan II Tournament

In [12]:
# Semifinals Past Match Results
for i in range(2):
    T=teams4[i]
    print(T)
    datai=pd.DataFrame(columns=col0)
    for j in range(len(data2)):
        if set(data2.iloc[j,1:3])==set(T):
            datai=pd.concat([datai,data2.iloc[j:j+1]],axis=0)
    if len(datai)>0:
        datai=datai.sort_values('date',ascending=True)
    display(datai)
    print()

['Argentina', 'Croatia']

,date,home_team,away_team,home_team_score,away_team_score,tournament
15,1994-06-04,Croatia,Argentina,0,0,Friendly
85,1998-06-26,Argentina,Croatia,1,0,FIFA World Cup
222,2006-03-01,Argentina,Croatia,2,3,Friendly
383,2014-11-12,Argentina,Croatia,2,1,Friendly
436,2018-06-21,Argentina,Croatia,0,3,FIFA World Cup

['France', 'Morocco']

,date,home_team,away_team,home_team_score,away_team_score,tournament
80,1998-05-29,Morocco,France,2,2,King Hassan II Tournament
94,1999-01-20,France,Morocco,1,0,Friendly
126,2000-06-06,Morocco,France,1,5,King Hassan II Tournament
261,2007-11-16,France,Morocco,2,2,Friendly

In [13]:
# Quarterfinals Past Match Results
for i in range(4):
    T=teams8[i]
    print(T)
    datai=pd.DataFrame(columns=col0)
    for j in range(len(data2)):
        if set(data2.iloc[j,1:3])==set(T):
            datai=pd.concat([datai,data2.iloc[j:j+1]],axis=0)
    if len(datai)>0:
        datai=datai.sort_values('date',ascending=True)
    display(datai)
    print()

['Netherlands', 'Argentina']

,date,home_team,away_team,home_team_score,away_team_score,tournament
87,1998-07-04,Netherlands,Argentina,2,1,FIFA World Cup
99,1999-03-31,Netherlands,Argentina,1,1,Friendly
174,2003-02-12,Netherlands,Argentina,1,0,Friendly
233,2006-06-21,Netherlands,Argentina,0,0,FIFA World Cup
376,2014-07-09,Netherlands,Argentina,0,0,FIFA World Cup

['France', 'England']

,date,home_team,away_team,home_team_score,away_team_score,tournament
63,1997-06-07,France,England,0,1,Tournoi de France
95,1999-02-10,England,France,0,2,Friendly
132,2000-09-02,France,England,1,1,Friendly
194,2004-06-13,France,England,2,1,UEFA Euro
267,2008-03-26,France,England,1,0,Friendly
313,2010-11-17,England,France,1,2,Friendly
337,2012-06-11,France,England,1,1,UEFA Euro
394,2015-11-17,England,France,2,0,Friendly
416,2017-06-13,France,England,3,2,Friendly

['Croatia', 'Brazil']

,date,home_team,away_team,home_team_score,away_team_score,tournament
216,2005-08-17,Croatia,Brazil,1,1,Friendly
229,2006-06-13,Brazil,Croatia,1,0,FIFA World Cup
369,2014-06-12,Brazil,Croatia,3,1,FIFA World Cup
427,2018-06-03,Croatia,Brazil,0,2,Friendly

['Morocco', 'Portugal']

,date,home_team,away_team,home_team_score,away_team_score,tournament
435,2018-06-20,Portugal,Morocco,1,0,FIFA World Cup

In [14]:
# Round of 16 Past Match Results
for i in range(8):
    T=teams16[i]
    print(T)
    datai=pd.DataFrame(columns=col0)
    for j in range(len(data2)):
        if set(data2.iloc[j,1:3])==set(T):
            datai=pd.concat([datai,data2.iloc[j:j+1]],axis=0)
    if len(datai)>0:
        datai=datai.sort_values('date',ascending=True)
    display(datai)
    print()

['Netherlands', 'USA']

,date,home_team,away_team,home_team_score,away_team_score,tournament
74,1998-02-21,USA,Netherlands,0,2,Friendly
161,2002-05-19,USA,Netherlands,0,2,Friendly
186,2004-02-18,Netherlands,USA,1,0,Friendly
294,2010-03-03,Netherlands,USA,2,1,Friendly
389,2015-06-05,Netherlands,USA,3,4,Friendly

['Argentina', 'Australia']

,date,home_team,away_team,home_team_score,away_team_score,tournament
3,1993-10-31,Australia,Argentina,1,1,FIFA World Cup qualification
4,1993-11-17,Argentina,Australia,1,0,FIFA World Cup qualification
32,1995-06-30,Argentina,Australia,2,0,Friendly
213,2005-06-18,Australia,Argentina,2,4,Confederations Cup
258,2007-09-11,Australia,Argentina,0,1,Friendly

['France', 'Poland']

,date,home_team,away_team,home_team_score,away_team_score,tournament
23,1994-11-16,Poland,France,0,0,UEFA Euro qualification
37,1995-08-16,France,Poland,1,1,UEFA Euro qualification
121,2000-02-23,France,Poland,1,0,Friendly
207,2004-11-17,France,Poland,0,0,Friendly
324,2011-06-09,Poland,France,0,1,Friendly

['England', 'Senegal']

Empty DataFrame
Columns: [date, home_team, away_team, home_team_score, away_team_score, tournament]
Index: []

['Japan', 'Croatia']

,date,home_team,away_team,home_team_score,away_team_score,tournament
64,1997-06-08,Japan,Croatia,4,3,Kirin Cup
84,1998-06-20,Japan,Croatia,0,1,FIFA World Cup
232,2006-06-18,Japan,Croatia,0,0,FIFA World Cup

['Brazil', 'South Korea']

Empty DataFrame
Columns: [date, home_team, away_team, home_team_score, away_team_score, tournament]
Index: []

['Morocco', 'Spain']

,date,home_team,away_team,home_team_score,away_team_score,tournament
438,2018-06-25,Spain,Morocco,2,2,FIFA World Cup

['Portugal', 'Switzerland']

,date,home_team,away_team,home_team_score,away_team_score,tournament
2,1993-10-13,Portugal,Switzerland,1,0,FIFA World Cup qualification
273,2008-06-15,Switzerland,Portugal,2,0,UEFA Euro
407,2016-09-06,Switzerland,Portugal,2,0,FIFA World Cup qualification
419,2017-10-10,Portugal,Switzerland,2,0,FIFA World Cup qualification
459,2019-06-05,Portugal,Switzerland,3,1,UEFA Nations League
498,2022-06-05,Portugal,Switzerland,4,0,UEFA Nations League
503,2022-06-12,Switzerland,Portugal,1,0,UEFA Nations League